<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"  >
<beans> 
    <bean id="Datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/pays</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
       <!-- <property name="password">
            <value>mdp</value>
        </property> -->
    </bean>

  <!-- Objets DAO -->
    <bean id="paysDao" class="dao.PaysDao">
        <property name="datasource" ref="Datasource" />
    </bean>
    <!-- Objets Metier -->
    <bean id="paysMetier" class="metier.PaysMetier">
        <property name="paysDao" ref="paysDao" />
    </bean>

  <!--WsConfig pour paramettrer le Web Service -->
    <bean id="config" class="wsconfig.WsConfig"
    init-method="init" destroy-method="close">
        <property name="portTypeName">
            <value>PaysPort</value>
        </property>
        <property name="locationUri">
            <value>/ws</value>
        </property>
        <property name="targetNamespace">
            <value>http://spring.io/guides/gs-producing-web-service</value>
        </property>
        <property name="schema">
            <value>pays.xsd</value>
        </property>
    </bean>
</beans>
